// Colors
$gradient: linear-gradient(272.43deg, #00A3FF 9.11%, #147EBA 85.95%);
$black: #000000;
$white: #ffffff;
$white-gray: #E8F7FF;
$gray-green: #248C99;
$blue: #147EBA;
$green: #ADDB31;
$text-default: #232323;
$bg: #E5E5E5;
// Colors
// Font
$font: 'Montserrat';

$font-defult: 400 16px/19px $font;
$font-defult-medium: 500 16px/19px $font;
$font-defult-semi: 600 16px/19px $font;
$font-defult-bold: 700 16px/19px $font;

$font-title: 700 30px/36px $font;

$font-middle-black: 900 20px/24px $font;
$font-middle-bold: 700 20px/24px $font;
$font-middle-medium: 500 20px/24px $font;
$font-middle-semi: 600 20px/24px $font;
$font-middle: 400 20px/ 24px $font;
// Font